@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

body::-webkit-scrollbar {
  display: none;
}

button {
  background-color: hsl(180, 66%, 49%);
  outline: none;
  border: none;
  color: white;
  font-weight: 700;
  cursor: pointer;
  margin-top: 1.5rem;
  font-size: medium;
  border-radius: 2rem;
  padding: 0.7rem 2rem;
}
button:hover {
  background-color: hsl(180, 66%, 69%);
}
.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: hsl(257, 27%, 26%);
  margin: 8% 5%;
  min-height: max-content;
  padding: 10% 0;
  border-radius: 1rem;
}
.navigation a {
  color: white;
  text-decoration: none;
  font-size: larger;
  font-weight: 700;
}
.navigation hr {
  width: 80%;
}
.navigation button {
  width: 80%;
  margin: 0;
}
.hide {
  display: none;
}

/* header */
.header {
  margin: 2% 10%;
}
.header a {
  text-decoration: none;
  font-weight: 700;
  color: hsl(257, 7%, 63%);
}
.header button {
  margin: 0;
  padding: 0.7rem 2rem;
  border-radius: 2rem;
  font-size: 14px;
  font-weight: 600;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tags {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tags a:hover {
  color: black;
}
#menu {
  display: none;
}
.btns {
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* section 1 */
.section1 {
  display: flex;
  justify-content: center;
  margin-left: 10%;
  gap: 2rem;
}
.card1 {
  width: 60%;
  margin-top: 6rem;
  font-size: 18px;
  color: hsl(257, 7%, 63%);
  font-weight: 500;
}
.card1 h1 {
  font-size: 4.5rem;
  line-height: 5rem;
  color: black;
}
.card1 p {
  width: 70%;
}

.card2 {
  position: relative;
  overflow-x: hidden;
}

/* big container */
.bigContainer {
  margin-top: 8rem;
  height: 50rem;
  min-height: max-content;
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 95%);
}

/* section2 */
.section2 {
  height: 8rem;
  margin: 1% 10%;
  background-image: url("./images/bg-shorten-desktop.svg");
  background-size: cover;
  background-color: hsl(257, 27%, 26%);
  border-radius: 0.6rem;
  position: relative;
  top: -10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#link {
  width: 70%;
  padding: 1rem;
  border-radius: 0.7rem;
  outline: none;
  border: none;
  font-size: large;
}

.section2 button {
  margin: 0;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: large;
}
#error {
  display: none;
  text-align: start;
  color: hsl(0, 87%, 67%);
  font-size: small;
  position: absolute;
  top: 80%;
  left: 7%;
}
/* linkcards */
.linkCards {
  margin: 1% 10%;
  height: 4rem;
  padding: 0.3% 2%;
  background: white;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  top: -7%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}
.linkCards a {
  text-decoration: none;
  color: black;
  font-size: large;
  overflow: hidden;
}
.copy {
  margin: 0;
  border-radius: 7px;
}
.copy.copied {
  background-color: hsl(255, 11%, 22%); /* Change to blue */
}
.linkBox {
  height: max-content;
  width: 88%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* section3 */
.section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10%;
}
.card3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 5rem;
}
.card3 h1 {
  font-size: 2.5rem;
  line-height: 4rem;
}
.card3 p {
  width: 35%;
  color: hsl(257, 7%, 63%);
  font-size: large;
  line-height: 1.5rem;
}
.card {
  height: 15rem;
  width: 20rem;
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card p {
  color: hsl(257, 7%, 63%);
}
.img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: hsl(257, 27%, 26%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lines {
  background-color: hsl(180, 66%, 49%);
  height: 0.7rem;
  width: 3rem;
}

/* footer */
.upper {
  height: 15rem;
  background-image: url("./images/bg-boost-desktop.svg");
  background-size: cover;
  background-color: hsl(257, 27%, 26%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.upper h1 {
  font-size: 2.5rem;
}
.lower {
  height: 10rem;
  background-color: hsl(255, 11%, 22%);
  padding: 5% 10%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.panel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.panel p {
  font-weight: 700;
  color: white;
  font-size: larger;
  line-height: 2.5rem;
}
.panel a {
  text-decoration: none;
  font-weight: 500;
  color: hsl(0, 0%, 75%);
}
.panel a:hover {
  color: hsl(180, 66%, 49%);
}
.panel1 {
  padding-right: 15%;
}
.panel5 {
  width: 15%;
  margin-top: 0.7rem;
  display: flex;
  justify-content: space-between;
}

/* attribution */
.attribution {
  font-size: large;
  text-align: center;
}
.attribution p {
  display: inline;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* mobile */
@media (max-width: 1115px) {
  .header {
    margin: 8% 5%;
  }
  .tags {
    width: 100%;
  }
  .tags a {
    display: none;
  }
  .btns {
    display: none;
  }
  #menu {
    display: block;
  }

  /* section 1 */
  .section1 {
    margin: 0;
    flex-direction: column-reverse;
  }
  .card1 {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .card1 h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 1rem;
  }
  .card1 p {
    width: 100%;
  }

  .card2 {
    margin-left: 2rem;
  }

  /* section2 */
  .section2 {
    height: 12rem;
    background-image: url("./images/bg-shorten-mobile.svg");
    background-repeat: no-repeat;
    background-position: top right;
    flex-direction: column;
    background-size: auto;
  }
  #link {
    width: 80%;
  }

  .section2 button {
    width: 86%;
    margin-top: 1rem;
  }
  #error {
    top: 45%;
  }
  /* linkcards */
  .linkCards {
    padding: 1rem 2rem;
    min-height: max-content;
    flex-direction: column;
  }

  .copy {
    width: 100%;
  }

  .linkBox {
    gap: 0.5rem;
    align-items: start;
    min-height: max-content;
    width: 100%;
    flex-direction: column;
    overflow-x: hidden;
  }
  /* section3 */
  .card3 {
    margin-bottom: 3rem;
  }
  .card3 h1 {
    font-size: 2rem;
  }
  .card3 p {
    width: 80%;
  }
  .section3 {
    padding-bottom: 10%;
    flex-direction: column;
  }

  .card {
    min-height: max-content;
    width: 17rem;
    margin-bottom: 0;
    align-items: center;
  }

  .lines {
    width: 0.7rem;
    height: 3rem;
  }

  /* footer */

  .upper h1 {
    text-align: center;
    font-size: 2rem;
  }
  .lower {
    min-height: max-content;

    align-items: center;
    flex-direction: column;
  }
  .panel {
    margin-top: 3rem;
    align-items: center;
  }

  .panel a {
    line-height: 1rem;
  }

  .panel1 {
    margin-top: 3rem;
    padding-right: 0;
  }
  .panel5 {
    width: 50%;
    margin: 3rem 0;
  }
  .attribution {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
